---
# Only the main Sass file needs front matter (the dashes are enough)
---

$background-color2: #2196f3;
$background-color1: #03A9F4;
$hightlight-color: #ffeb3b;

@import "bourbon/bourbon";

@keyframes bounce {
  0% {
    transform: translate3d(0, 0, 0);
  }

  50% {
    transform: translate3d(0, 10px, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Ubuntu, sans-serif;
  background: #222;
  color: #fff;
}

a {
  color: $hightlight-color;
  text-decoration: none;
  font-weight: bold;
}

.intro {
  position: relative;
  width: 100%;
  height: 100%;
  background: $background-color1; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, $background-color1, $background-color2); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, $background-color1 , $background-color2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);
}

.bio {
  max-width: 500px;
  background: rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 3px;
}

.link-list {
  padding: 0;
  list-style: none;
  @include display(flex);

  .icon-link {
    font-size: 1.2em;
    line-height: 24px;
    margin-right: 20px;
    @include display(flex);
    @include align-items(center);

    a {
      color: #fff;
    }

    &:before {
      width: 24px;
      height: 24px;
      content: '';
      display: inline-block;
      margin-right: 5px;
    }

    &.github:before {
      background: url('../assets/icons/social-github.svg');
      background-size: 24px 24px;
    }

    &.twitter:before {
      background: url('../assets/icons/social-twitter.svg');
      background-size: 24px 24px;
    }

    &.home:before {
      background: url('../assets/icons/home.svg');
      background-size: 24px 24px;
    }

    &.youtube:before {
      background: url('../assets/icons/social-youtube.svg');
      background-size: 24px 24px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

@media (max-width: 800px) {
  .intro {
    @include align-items(flex-start);
  }

  .bio {
    max-width: 100%;
    width: 100%;
  }
}

.scroll-arrow {
  position: absolute;
  bottom: 40px;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-left: -15px;
  background: url('../assets/icons/down-arrow.svg');
  background-size: 30px 30px;
  animation-name: bounce;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.project-list {
  @include display(flex);
  @include flex-wrap(wrap);
  background: #fff;
}

.project-thumbnail {
  height: 240px;
  min-width: 320px;
  background-size: cover;
  background-position: center;
  @include flex-grow(1);
  text-decoration: none;
}

.project-info {
  color: #fff;
  padding: 20px 20px 50px 20px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), transparent);

  h2 {
    margin: 0;
  }
}

.project-description {
  font-size: 1.1em;
  line-height: 1.4em;
  max-width: 700px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.modal {
  position: relative;
  transition: all 0.3s ease-out;
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 0);
  background: rgba(34, 34, 34, 0.9);
  overflow: auto;

  .modal-close {
    position: absolute;
    right: 25px;
    top: 25px;
    width: 30px;
    height: 30px;
    background-image: url('../assets/icons/close.svg');
    background-size: 30px 30px;
  }

  .modal-hidden {
    display: none;
  }
}

.project-page {
  padding: 30px;
}

.project-title {
  margin: 0 60px 0 0;
}

.hidden {
  display: none;
}
