.blue {
  background: hsl(200, 87%, 82%);
  color: hsl(200, 87%, 20%);
}

.green {
  background: hsl(143, 62%, 89%);
  color: hsl(143, 62%, 20%);
}

.yellow {
  background: hsl(54, 91%, 86%);
  color: hsl(54, 91%, 20%);
}

.pink {
  background: hsl(332, 100%, 80%);
  color: hsl(332, 100%, 20%);
}

.purple {
  background: hsl(278, 82%, 87%);
  color: hsl(278, 82%, 20%);
}

/*


.blue1 {
  color: #fff;
  background: #03045e;
}

.blue2 {
  color: #fff;
  background: #023e8a;
}

.blue3 {
  color: #fff;
  background: #0077b6;
}

.blue4 {
  color: #fff;
  background: #0096c7;

}

.blue5 {
  color: #fff;
  background: #00b4d8;
}
 */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  color: inherit;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
}

iframe {
  border: 0;
}

h1, h2, h3 {
  margin-top: 0;
}

p {
  line-height: 1.5em;
  max-width: 600px;
}

figcaption {
  color: gray;
}

.blue-light {
  color: var(--blue-font);
  background: var(--blue-light);
}

.blue-dark {
  color: var(--blue-font);
  background: var(--blue-dark);
}

.green-light {
  color: var(--green-font);
  background: var(--green-light);
}

.green-dark {
  color: var(--green-font);
  background: var(--green-dark);
}

.yellow-light {
  color: var(--yellow-font);
  background: var(--yellow-light);
}

.yellow-dark {
  color: var(--yellow-font);
  background: var(--yellow-dark);
}

.orange-light {
  color: var(--orange-font);
  background: var(--orange-light);
}

.orange-dark {
  color: var(--orange-font);
  background: var(--orange-dark);
}

.red-light {
  color: var(--red-font);
  background: var(--red-light);
}

.red-dark {
  color: var(--red-font);
  background: var(--red-dark);
}

.with-js .projects {
  display: flex;
  background: #f5f5f5;
}

.page-section {
  padding: 32px;
}

.page-section > h1 {
  margin: 0;
  font-weight: 100;
}

.page-section > *:last-child {
  margin-bottom: 0;
}

.with-js .project-description {
  display: none;
}

.project-group h1 {
  font-weight: 100;
  font-size: 1.5em;
}

.project-group-details {
  position: relative;
}

.project-group-details > .content {
  padding: 32px;
  overflow: auto;
}


.project-group-details img,
.project-group-details .youtube-video,
.project-group-details video,
.project-description img,
.project-description .youtube-video,
.project-description video {
  max-width: 100%;
}

.project-group-details.is-collapsed {
  display: none;
}

.close-button {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 48px;
  height: 48px;
  background: url('icons/close.svg');
  background-size: contain;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
}

.project-group-title {
  padding: 32px;
}

.project-group-title > *:last-child {
  margin-bottom: 0;
}

.projects {
  overflow: auto;
}

.project {
  padding: 32px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  position: relative;
}

.with-js .project {
  overflow: inherit;
  padding-right: 0;
}

.with-js .project:last-child {
  padding-right: 32px;
}

.project-preview {
  background: none;
  border: 0;
}

.project-description {
  padding: 32px;
}

.project-description > *:first-child {
  margin-top: 0;
}

.project.is-selected:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -20px;
  width: 20px;
  height: 20px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid white;
}

.project-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
  margin: 8px 0;
  width: 400px;
}

.project-title,
.project-date {
  font-weight: normal;
  margin-bottom: 0;
  text-align: left;
}

.project-date {
  color: gray;
  margin-left: 16px;
}

.project-thumbnail {
  width: 400px;
  height: 300px;
  cursor: pointer;
  background: white;
}

.youtube-video {
  background: #000;
  display: block;
  padding: 0;
  position: relative;
  cursor: pointer;
  background-size: cover;
  background-position: center;
}

.youtube-video:after {
  content: '';
  width: 50px;
  height: 50px;
  background: url('icons/play.svg');
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
}

.youtube-video:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}

.youtube-video.is-loaded:after,
.youtube-video.is-loaded:before {
  display: none;
}

.garlang-definition {
  font-family: monospace;
  margin-left: 16px;
}

.garlang-definition > h1 {
  font-size: 1.2em;
}

.garlang-definition .plural {
  font-weight: normal;
}

.garlang-definition > p {
  margin: 0;
}


@media only screen and (max-width: 800px) {

  .project {
    flex-direction: column;
  }

  .project-description {
    padding: 0;
  }

  .project {
    padding: 16px;
  }

  .project-thumbnail {
    width: 300px;
    height: 225px;
  }

  .project-header {
    width: 300px;
  }

  .page-section {
    padding: 16px
  }

  .project-group-title {
    padding: 16px;
  }

  .project-group-details .content {
    padding: 48px 16px 16px 16px;
  }

  .close-button {
    top: 16px;
    right: 16px;
  }
}