<section class="intro">
  <div class="container">

      <ul class="link-list">
          <li class="icon-link github"><a href="//github.com/paulsonnentag">github</a></li>
          <li class="icon-link twitter"><a href="//twitter.com/paulsonnentag">twitter</a></li>
        </ul>

        <br>
        <br>


    <p class="lead">
      I'm frustrated with the current state of computing but optimistic about a future where the full power of computers is accessible to everyone.
    </p>

  </div>
</section>
